# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Checkpoints and outputs
checkpoints/
*.pth
*.pt
results/
*.png
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments & IDEs
.vscode/
.idea/
*.log
